@import '../../../assets/styles/public.scss';
.settings-detail {
    padding: 3rem 3rem 0;
    .input-side {
        margin-right: 2rem;
    }
    .input-group {
       margin-bottom: 2rem;
       &.mini-group {
           display: flex;
           justify-content: space-between;
           align-items: center;
       }
       .radio-group {
           margin: .8rem 0;
           span {
               margin-right: 1rem;
           }
       }
       .input-label {
           display: block;
           width: 100%;
           margin-bottom: .5rem;
           color: #3e4077;
       }
       .input-area {
           resize: none;
           width: 30rem;
           display: block;
           padding: .6rem .8rem;
           outline: none;
           border-radius: .2rem;
           border: 1px solid #eef0f3;
           font-size: .9rem;
           margin-bottom: .5rem;
       }
       .input-text {
           width: 20rem;
           display: block;
           padding: .6rem .8rem;
           outline: none;
           border-radius: .2rem;
           border: 1px solid #eef0f3;
           font-size: .9rem;
           margin-bottom: .5rem;

       }
       .input-mark {
           font-size: .8rem;
           color: #8493b8;
       }
       .input-file-box {
           position: relative;
           width: 9rem;
           .file-input {
               cursor: pointer;
               width: 100%;
               height: 2rem;
               opacity: 0;
               position: absolute;
               cursor: pointer;
               z-index: 1;
           }
           .file-btn {
               width: 100%;
           }
       }

    }
}       
.two-side {
    display: flex;
    .input-img {
        width: 6rem;
        height: 6rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }
}

.margin-btn {
    margin-right: 2rem;
    cursor: pointer;
}

.input-static-group {
    margin-bottom: 2rem;
    .input-label {
        display: block;
        margin-bottom: .5rem;
    }
    .input-static {
        color: #999;
        display: flex;
        justify-content: space-between;
        .input-pure-text {
            margin-bottom: .5rem;
        }
    }
}