@import '../../../assets/styles/public.scss';


.relate {
    margin: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: .9rem;
    .switch {
        padding: 0.5rem 1rem;
        font-size: .8rem;
        @extend .section;
        .link-img {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: .5rem;
            margin-right: .5rem;
            vertical-align: middle;
        }
        .link-svg {
            margin-left: .5rem;
            color: #7f83b8; 
        }        
    }
    .option {
        display: flex;
        justify-content: end;
        span {
            margin-left: .5rem;
        }
        a,span,div {
            display: block;
            @extend .section;
            padding: .6rem;
            font-size: .8rem;
            color: #7f83b8;
            cursor: pointer;
        }
        div {
            svg {
                margin-right: .4rem;
            }
        }
    }
}


.tree {
  font-weight: 300;
  flex: 1;
  margin: 1rem -8px 1rem 0;
  .switch {
      font-size: .85rem;
      color: $fontGray;
      margin-bottom: 1rem;
  }
}


.white {
  background-color: #FFF;
}

/*文章区域*/
.article {
  padding: 2rem 3rem 2rem 3rem;
  font-weight: 300;
  .header {
      margin-bottom: 2rem;
      .detail {
          display: flex;
          justify-content: space-between;
          a,
          span {
              color: #adafc5;
              margin-right: 1rem;
              font-size: .85rem;
              &:last-child {
                  margin-right: 0;
              }
              svg {
                  @extend .transition;
                  cursor: pointer;
                  &:hover {
                    color: $purple;
                  }
              }
          }
      }
      .title {
          font-size: 1.9rem;
          margin-bottom: 2rem;
          color: #3e4077;
      }
  }
  .body {
    .content {
      line-height: 2;
      margin-bottom: 2rem;
      font-size: .9rem;
      color: #3e4077;
      blockquote {
          background-color: #f7f7fb;
          padding: .5rem 2rem;
          color: #8d8db0;
          border-radius: .5rem;
      }
      p {
          margin-top: 1rem;
          margin-bottom: 1rem;
      }
    ul {
        list-style: circle;
        padding-left: 1rem;
        margin: 1rem 0;
    }
    ol {
        list-style: decimal;
        padding-left: 1rem;
        margin: 1rem 0;
    }
    b {
        font-weight: bold;
    }
    i {
        font-style: italic;
    }
    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    blockquote {
        background-color: #f7f7fb;
        padding: .5rem 2rem;
        color: #8d8db0;
        border-radius: .5rem;
        margin: 1rem 0;
    }
    img {
        max-width: 100%;
    }
    pre {
        background: #2a324b;
        border-radius: .5rem;
        color: #ef596f;
        font-family: 'consolas';
        padding: .5rem 2rem;
        margin: 1rem 0;
        line-height: 1.5;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    a {
        text-decoration: underline;
    }
  }

  .extra {
      display: flex;
      justify-content: space-between;
      margin: 3rem 0 0;
      .extra-ul {
          display: flex;
          font-size: .85rem;
          color: #adafc5;
          cursor: pointer;
          li {
              margin-right: 2rem;
              @extend .transition;
              &:hover {
                  color: $purple;
              }
              svg {
                  margin-right: .1rem;
                  &.collect {
                      color: #ffec55;
                  }
                  &.thumbs {
                      color: $purple;
                  }
              }
              &:last-child {
                  margin-right: 0;
              }

          }
      }
    }
  }  
}

.normal-modal-inner {
    padding: 1.5rem;
    color: #3e4077;
    line-height: 1.8;
    text-align: center;
    .input-btn {
        margin: 1rem 1rem 0;
    }
    .des {
        font-size: .85rem;
        color: #a3a5b6;
    }
}

.draft-box {
    padding: 1.5rem;        
    width: 40rem;
    height: 30rem;
    color: #3e4077;
    display: flex;
    flex-direction: column;
    .draft-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #eef0f3;
        .title {
            font-size: 1.1rem;
            margin-right: 1rem;
        }
        .btn {
            box-shadow: 0 1px 1px rgba(0,0,0,0.05);
            border: 1px solid #ccc;
            background-color: #FFF;
            color: #666;
            padding: .2rem .6rem;
            border-radius: .2rem;
            font-size: .8rem;
        }
    }
    .draft-list {
        overflow-y: scroll;
        flex: 1;
    }
    .draft-item {
        margin-bottom: 1rem;
        .title {
            font-size: 1rem;
            line-height: 1.8;
            margin-bottom: .8rem;
        }
        .des {
            font-size: .8rem;
            color: #8493b8;
        }
        .link {
            color: #3e4077;
            cursor: pointer;
            margin-right: .5rem;
        }
    }
}

/*文章评论*/
.comments {
  padding-top: 2rem;
  .reply-text {
      display: flex;
      justify-content: space-between;
      font-size: .9rem;
      margin-bottom: 1rem;
      background-color: #f7f7fb;
      padding: .5rem 1rem;
      border-radius: .3rem;
      @extend .transition;
      svg {
          width: 1rem;
          height: 1rem;
          color: #ccc;
          font-size: .85rem;
          cursor: pointer;
          margin-left: 1rem;
      }
  }
  .section-title {
      color: #999;
  }
  .input-comment-box {
      margin: 2rem 0;
      .input-textarea {
          resize: none;
          box-sizing: border-box;
          width: 100%;
          border-radius: .3rem;
          border: none;
          background-color: #f7f7fb;
          min-height: 6rem;
          padding: .8rem;
          font-size: 1rem;
          margin-bottom: 1rem;
      }
  }
}

.ul-comment-single {
  padding: 2rem 0rem;
  .section-title {
      padding-left: 3rem;
      color: #a3a5b6;
  }
  .li-comment-single {
      display: flex;
      color: #3e4077;
      line-height: 2;
      font-size:.85rem;
      margin-bottom: 1rem;
      justify-content: space-between;
      img {
         width: 2rem;
         height: 2rem;
         border-radius: 50%;
         margin-right: .5rem;
         vertical-align: middle;
         flex-shrink: 0;
     }
  }
  .author-comment {
     flex: 1;
     padding-right: 1rem;
     a {
         color: #a3a5b6;
     }
     .date {
         color: #a3a5b6;
         font-size: .8rem;
     }
  }
  .btn-reply {
      font-size: .85rem;
      flex-shrink: 0;
      color: #a3a5b6;
      cursor: pointer;
  }
}

.auth-box {
    width: 50rem;
    padding: 2rem;
    background-image: url(../../../assets/images/404.svg);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: right center;
    .auth-header {
        text-align: center;
        .title {
            color: #3e4077;
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        .des {
            color: #8493b8;
            margin-bottom: 1rem;
        }
    }
    .auth-list {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        .auth-item {
            padding: 1rem;
            border-radius: .5rem;
            background-color: #eef0f3;
            text-align: center;
            margin: 0 .5rem;
            box-shadow: 0 10px 15px #f7f7fb;
            img {
                width: 3rem;
                border-radius: 50%;
                margin-bottom: .5rem;
                border: 2px solid #fff;
            }
            .title {
                color: #3e4077;
                font-size: .9rem;
                margin-bottom: .5rem;
            }
            .des {
                color: #8493b8;
                font-size: .8rem;
            }
        }
    }
}
