@import '../../../assets/styles/public.scss';

.tree {
  font-weight: 300;
  padding: 2rem 2rem;
  .switch {
      font-size: .9rem;
      color: $fontGray;
      margin-bottom: 1rem;
  }
}

.white {
  background-color: #FFF;
}

/*文章区域*/
.article {
  margin: 2rem 3rem;
  font-weight: 300;
  .header {
      margin-bottom: 2rem;
      .detail {
          display: flex;
          justify-content: space-between;
          a {
              color: #adafc5;
          }
          span {
              color: #adafc5;
              margin-right: 1rem;
              font-size: .85rem;
              &:last-child {
                  margin-right: 0;
              }
              svg {
                  @extend .transition;
                  cursor: pointer;
                  &:hover {
                    color: $purple;
                  }
              }
          }
      }
      .title {
          font-size: 1.9rem;
          margin-bottom: 2rem;
          color: #3e4077;
      }
  }
  .body {
      @extend .section;
      line-height: 2;
      padding: 3rem 3rem 0;
      margin-bottom: 2rem;
      font-size: .9rem;
      color: #3e4077;
      blockquote {
          background-color: #f7f7fb;
          padding: .5rem 2rem;
          color: #8d8db0;
          border-radius: .5rem;
      }
      p {
          margin-top: 1rem;
          margin-bottom: 1rem;
      }
      h2,h3,h4,h5,h6 {
          margin-top: 1rem;
          margin-bottom: 1rem;
      }
      h2 {
          font-size: 1.6rem;
      }
      h3 {
          font-size: 1.5rem;
      }
      h4 {
          font-size: 1.4rem;
      }
      h5 {
          font-size: 1.3rem;
      }
      h6 {
          font-size: 1.2rem;
      }
      img {
          max-width: 100%;
      }
      b {
          font-weight: bold;
      }
      i {
          font-style: italic;
      }
  }
  .extra {
      display: flex;
      justify-content: space-between;
      margin: 3rem 0;
      padding: 0rem 0rem 3rem;
      .extra-ul {
          display: flex;
          font-size: .85rem;
          color: #adafc5;
          cursor: pointer;
          li {
              margin-right: 2rem;
              @extend .transition;
              &:hover {
                  color: $purple;
              }
              svg {
                  margin-right: .1rem;
              }
              &:last-child {
                  margin-right: 0;
              }
          }
      }
  }
}

.tag {
  display: flex;
  li {
      a {
          display: block;
          font-size: .8rem;
          color: #fd64a9;
          background: #f9d6ec;
          padding: .2rem .5rem;
          border-radius: .3rem;
          margin: 0 1rem 1rem 0;
      }
  }
}


/*文章评论*/
.comments {
  padding-top: 2rem;
  @extend .section;
  .section-title {
      padding-left: 3rem;
      color: #999;
  }
  .input-comment-box {
      padding: 0rem 3rem;
      margin: 2rem 0;
      .input-textarea {
          resize: none;
          box-sizing: border-box;
          width: 100%;
          border-radius: .3rem;
          border: none;
          background-color: #f7f7fb;
          min-height: 6rem;
          padding: .8rem;
          font-size: 1rem;
          margin-bottom: 1rem;
      }
  }
}

.ul-comment-single {
  padding: 2rem 3rem;
  .section-title {
      padding-left: 3rem;
      color: #a3a5b6;
  }
  .li-comment-single {
      display: flex;
      color: #3e4077;
      line-height: 2;
      font-size:.85rem;
      margin-bottom: 1rem;
      justify-content: space-between;
      img {
         width: 2rem;
         height: 2rem;
         border-radius: 50%;
         margin-right: .5rem;
         vertical-align: middle;
         flex-shrink: 0;
     }
  }
  .author-comment {
     flex: 1;
     padding-right: 1rem;
     a {
         color: #a3a5b6;
     }
     .date {
         color: #a3a5b6;
         font-size: .8rem;
     }
  }
  .btn-reply {
      font-size: .85rem;
      flex-shrink: 0;
      color: #a3a5b6;
      cursor: pointer;
  }
}