/*上部导航按钮*/
.public-options {
    display: flex;
    align-items: center;
    a {
        transition: all .2s;
        text-align: center;
        display: block;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        color: #9396b2;
        &.active,
        &:hover {
            color: #632df8;
            background-color: #fff;
        }
    }
}