/*上部导航按钮*/
.public-options {
    display: flex;
    align-items: center;
    padding: 2rem 3rem 0;
    svg {
        margin-right: 1.5rem;
    }
    a {
        transition: all .2s;
        color: #9396b2;
        &:hover {
            color: #632df8;
        }
    }
}