@import '../../../assets/styles/public.scss';
.edit-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.edit-header {
    .title {
        width: 100%;
        box-sizing: border-box;
        border: 0;
        font-size: 1.2rem;
        outline: none;
        padding: 1.5rem 2rem;
    }
    .edit-tool {
        width: 100%;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        background-color: #FCFCFC;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        .ul-tool {
            display: flex;
            li {
                a {
                    display: block;
                    color: #333;
                    font-size: .9rem;
                    padding: 1rem 1rem;
                    @extend .transition;
                    &:hover {
                        color: $purple;
                    }
                }
            }            
        }

    }
}
.edit-body {
    flex-grow: 1;
    padding: 2rem;
    font-size: .9rem;
    outline: none;
    background-color: #FFF;
}
.edit-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    color: #999;
    font-size: .8rem;
    background-color: #FCFCFC;
    border-top: 1px solid #eee;
    .text-about {
        color: $purple
        svg {
            margin-right: .2rem;
        }
    }
    .btns-box {
        button {
            border: none;
            background-color: #999;
            color: #FFF;
            padding: .5rem 1rem;
            border-radius: .2rem;
            font-size: .9rem;
            cursor: pointer;
            margin-left: 1rem;
        }
        .confirm {
            background-color: $purple;
        }
    }
}