$mainColor: #1e64e5;

.wrapper-flex {
    flex: 1;
    overflow-y: scroll;
}
.wrapper-main {
    padding-left: 27.6rem;
}
.wrapper-left {
    width: 22rem;
    background-color: #FFF;
    box-sizing: border-box;
    border-right: 1px solid #ecedf0;
    position: fixed;
    left: 5.6rem;
    top: 0;
    height: 100vh;
    overflow: hidden;
}

.wrapper-right {
    background-color: #FFF;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.wrapper-options {
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ecedf0;
    color: #c4c6cc;
    svg {
        margin-right: 2rem;
    }
}
.wrapper-static {
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    text-align: center;
    .box-static {
        svg {
            color: $mainColor;
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }
        p {
            font-size: 1.5rem;
            color: #999;
        }
    }
}

.wrapper-recent {
    .box-recent {
        margin-bottom: 1rem;
        padding: 0 3rem;
        line-height: 2;
        & > a {
            color: $mainColor;
            text-decoration: none;
            svg {
                margin-right: .5rem;
            }
        }

        & > p {
            color: #666;
            font-size: .8rem;
        }
    }
}

.wrapper-news {
    .box-news {
        margin-bottom: 1rem;
        padding: 0 3rem;
        line-height: 2;
        color: #97999d;
        font-size: .9rem;
        .news-header {
            img {
                vertical-align: middle;
                margin-right: .5rem;
                border-radius: 50%;
            }
            .link-name {
                color: $mainColor;
                text-decoration: none;
                margin-right: .5rem;
            }
        }
        .news-body {
            padding: 1rem 0 1.5rem;
        }
    }
}

.title-wrapper {
    color: #979aa1;
    font-size: .9rem;
    padding: 2rem;
}

.wrapper-group {
    .box-group {
        display: flex;
        margin-bottom: 2rem;
        padding: 0 2rem;
        .group-avatar {
            margin-right: 1rem;
            border-radius: .5rem;
            overflow: hidden;
        }
        .title {
            display: inline-block;
            color: #666;
            font-size: 1rem;
            margin-bottom: .5rem;
        }
        .des {
            color: #97999d;
            font-size: .9rem;
        }
    }
}

.wrapper-menu {

    .list-menu {
        > li {
            > a {
                display: block;
                box-sizing: border-box;
                padding: 1rem 3rem;
                text-decoration: none;
                color: #a3a9b6;
                font-size: .9rem;
                &:hover {
                    color: $mainColor;
                    background-color: #f5faff;
                }
                svg {
                    color: #cdd5df;
                    margin-right: .5rem;
                }
            }
        }
    }
}