@import '../../../assets/styles/public.scss';

/*操作列表*/
.setting-menu {
    @extend .section;
    .section-title {
        color: #a3a5b6;
        font-size: .9rem;
    }
    margin: 3rem 2rem;
    padding: 2rem;
    .list-menu {
        > li {
            > a {
                @extend .transition;
                display: block;
                box-sizing: border-box;
                padding: 2rem 0 0rem;
                text-decoration: none;
                color: #9396b2;
                font-size: .9rem;
                border-radius: .5rem;
                &:hover {
                    color: $purple;
                    svg {
                        color: $purple;
                    }
                }
                svg {
                    color: $normalGray;
                    margin-right: .5rem;
                }
            }
        }
    }
}

.set-panel {
    margin: 3rem 3rem 3rem 0;
    @extend .section;
}
