@import '../../assets/styles/public.scss';

.public-sidebar {
    width: 4.6rem;
    height: 100vh;
    min-height: 20rem;
    background-color: #FFF;
    border-right: 1px solid #ecedf0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    z-index: 100;
    .ul-nav {
        width: 100%;
    }
}

.li-nav {
    width: 100%;
    .link-nav {
        display: block;
        text-align: center;
        color: $purpleGray;
        text-decoration: none;
        padding: 1.2rem 0;
        @extend .transition;
        .link-icon {
            font-size: 1.1rem;
            display: block;
            margin: 0 auto 0.3rem;
        }
        &:hover {
            color: $purple;
        }
    }
}