@import '../../assets/styles/public.scss';

$bgColor: #FFF;
$borderColor: #e9e9f4;

.public-sidebar {
    width: 5rem;
    height: 100vh;
    min-height: 20rem;
    flex-shrink: 0;
    background-color: $bgColor;
    border-right: 1px solid $borderColor;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    z-index: 100;
    .logo {
        text-align: center;
        padding-top: 1.5rem;
        padding-bottom: 2.5rem;
    }
    .ul-nav {
        padding: 0 1rem;
    }
}

.li-nav {
    width: 100%;
    .link-nav {
        display: block;
        text-align: center;
        color: #7f83b8;
        text-decoration: none;
        padding: .6rem 0;
        margin-bottom: 1rem;
        border-radius: .3rem;
        @extend .transition;
        .link-icon {
            font-size: 1.1rem;
            display: block;
            margin: 0 auto 0.3rem;
        }
        &:hover {
            color: #474747;
            background-color: #e9e9f8;
        }
    }
}

.header-avatar {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    border-radius: 50%;
    border: 2px solid #FFF;
} 