.mck-tabs {
    width: 100%;
    color: #555;
    .mck-tabs-head {
        border-bottom: 1px solid #ddd;
        display: flex;
        margin-bottom: 1rem;
        li { 
            padding: .8rem 1.5rem;
            margin-bottom: -1px;
            border-radius: 5px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border: 1px solid transparent;
            cursor: pointer;
            margin-right: .3rem;
            font-size: .9rem;
            &.active {
                border-color: #ddd;
                border-bottom-color: transparent; 
                background-color: #FFF;   
            }
            &:hover {
                background-color: #ddd;
            }
            
        }
    }
}