@import '../../../assets/styles/public.scss';

.info-menu {
    @extend .section;
    font-weight: 300;
    .section-title {
        color: #a3a5b6;
        font-size: .9rem;
    }
    margin: 3rem 2rem;
    padding: 2rem;
    .list-menu {
        > li {
            > a {
                @extend .transition;
                display: block;
                box-sizing: border-box;
                padding: 2rem 0 0rem;
                text-decoration: none;
                color: #9396b2;
                font-size: .9rem;
                border-radius: .5rem;
                &:hover {
                    color: $purple;
                    svg {
                        color: $purple;
                    }
                }
                svg {
                    color: $normalGray;
                    margin-right: .5rem;
                }
            }
        }
    }
}

.item-info {
    display: flex;
    box-sizing: border-box;
    padding: 1rem;
    margin: 2rem 3rem;
    &:hover {
        background-color: #f5faff;
    }
    .cover-info {
        margin-right: 1rem;
        > img {
            width: 3rem;
            border-radius: 50%;
            box-shadow: 0 10px 15px #eeeef8;
        }
    }
    .info-info {
        .text-status {
            font-size: .7rem;
            color: #FFF;
            background-color: #999;
            border-radius: .3rem;
            padding: .2rem .5rem;
            margin-right: .5rem;
        }
        .text-main {
            font-size: 1rem;
            margin-bottom: 1rem;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .text-date {
            font-size: .8rem;
            margin-bottom: .5rem;
            color: #999;
        }
        .text-sub {
            font-size: .8rem;
            color: #999;
            line-height: 1.8;
            text-overflow: ellipsis;
        }
    }
}

.item-info.noread {
    .info-info {
        .text-status {
            background: #4d7cff;
        }
        .text-main {
            font-weight: 600;
        }
    }   
}


.infos {
    display: flex;
    flex: 1;
    font-weight: 300;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem 3rem 3rem 0;
    padding: 3rem;
    @extend .section;
    .item-infos {
        display: flex;
        align-items: flex-end;
        margin-bottom: 2rem;
    }
}

.infos-top {
    flex-grow: 1;
    padding: 2rem 3rem;
}

.item-infos {
    .cover-infos {
        margin-right: 1rem;
        > img {
            width: 3rem;
            border-radius: 50%;
        }
    }
    .info-infos {
        color: #3e4077;
        .bubble {
           background-color: #f7f7fb; 
           border-radius: 1rem;
           border-bottom-left-radius: 0;
           padding: 1rem;
           margin-bottom: .5rem;
           line-height: 1.8;
           font-size: .9rem;
           .title {
               font-size: 1.2rem;
               margin-bottom: .5rem;
           }
           .name {
               color: #bbbbd6;
               font-size: .8rem;
               margin-bottom: .5rem;
           }
           .quote {
               color: #999;
               padding-bottom: .5rem;
               margin-bottom: .5rem;
               border-bottom: 1px dashed #aaa;
               a {
                   color: #999;
                   display: block;
               }
           }
        }
        .date {
            color: #9ea3bd;
            font-size: .8rem;
            text-align: right;
            span {
                margin-left: 1rem;
                cursor: pointer;
            }
        }
    }
}