@import '../../../assets/styles/public.scss';

/*图片列表*/
.component-img-list {
    font-size: 0;
    padding: 1rem;
    .component-img-item {
        padding: 1rem;
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        .component-img-cover {
            max-width: 100%;
            box-shadow: 0 10px 15px #ddd;
            margin-bottom: 1rem;
            border-radius: .3rem;
        }
        .component-img-text {
            font-size: .9rem;
            text-align: center;
            color: #999;
        }
    }
    
}

/*图片预览*/
.photo {
    position: relative;
    overflow-y: scroll;
    padding-bottom: 1rem;
    .body {
        img {
            max-width: 100%;
        }
    }
    .header {
        position: absolute;
        top: 2rem;
        right: 2rem;
        background-color: #fdfdfd;
        padding: 1rem;
        box-shadow: 0 10px 15px #ddd;
        
        .title {
            font-size: 1.1rem;
            line-height: 1.8;
            margin-bottom: .5rem;
        }
        .detail {
            line-height: 1.5;
            color: $fontGray;
            font-size: .8rem;
            p {
                margin-bottom: .5rem;
            }
            span {
                margin-right: .5rem;
            }
            a {
                color: $fontGray;
            }
        }
    }
}