.input-static-group {
    margin-bottom: 2rem;
    .input-label {
        display: block;
        margin-bottom: .5rem;
    }
    .input-static {
        color: #8493b8;
        display: flex;
        justify-content: space-between;
        .input-pure-text {
            margin-bottom: .5rem;
        }
    }
}