@import '../../../assets/styles/public.scss';


.normal-title {
    color: #a3a5b6;
    font-size: .9rem;
}

.us-list {
    .header {
        padding: 1rem 2rem;
        color: #646464;
        text-align: center;
    }
}

.group-box {
    margin: 2rem 3rem;
    font-weight: 300;
}

.us-about {
    flex-shrink: 0;
    flex-grow: 0;
    text-align: center;
    padding: 2rem 1rem;
    @extend .section;
    .cover {
        margin-bottom: 1rem;
        img {
            width: 6rem;
            height: 6rem;
            border-radius: .5rem;
            box-shadow: 0 10px 15px #e9e9f4;
        }
    }
    .title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .des {
        color: #8493b8;
        font-size: .85rem;
        line-height: 1.8;
        > span,
        > a {
            margin: 0 .6rem;
            color: #646464;
            svg {
                color: #999;
                margin-right: .3rem;
            }
        }
    }
}


.us-list {
    margin-top: 1rem;
    padding: 0 1rem;
    width: 13.5rem;
    .us-people {
    display: flex;
    border: 1px dashed $normalGray;
    border-radius: .5rem;
    padding: .5rem;
    li {
        margin-right: .5rem;
        img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }
        .btn-add {
            display: block;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            border: 1px dashed $normalGray;
            color: $normalGray;
            font-size: 1.1rem;
            line-height: 1.8rem;
            text-align: center;
        }
    }
}
   
}

.group-links {
    margin-top: 2rem;
    @extend .section;
    padding: 2rem 2rem 0rem;
    .ul-list-link {
        display: flex;  
        flex-wrap: wrap;
        margin-top: 2rem;
        a {
            display: block;
            cursor: pointer;
            color: #7f83b8;
            text-align: center;
        }
        li {
            width: 50%;
            border-radius: .5rem;
            display: block;
            cursor: pointer;
            color: #7f83b8;
            margin-bottom: 2rem;
            text-align: center;
        }
        svg {
            font-size: 2rem;
            display: block;
            margin: 1rem auto;
        }
    }
 
} 

.group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 3rem 0;
    font-weight: 300;
    .group-switch {
        padding: .5rem 1rem;
        font-size: .9rem;
        @extend .section;
        .link-img {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: .5rem;
            margin-right: .5rem;
            vertical-align: middle;
        }
        .link-svg {
            margin-left: .5rem;
            color: #7f83b8; 
        }
    }
    .group-add {
        height: 2rem;
        padding: 0 1.2rem;
        display: flex;
        align-items: center;
        color: #FFF; 
        font-size: .85rem;
        cursor: pointer;
        border-radius: 1.5rem;
        box-shadow: 0 10px 15px #eeeef8;
        background-image: linear-gradient(to bottom,#4c68fa, #4c8efa);
    }
}


.add-mem {
    font-weight: 300;
    padding: 1rem 3rem;
    .input {
        display: block;
        border: 1px solid #e9e9f4;
        padding: .6rem;
        width: 25rem;
    }
    .btns {
        text-align: center;
    }
    .tip {
        font-size: .9rem;
        margin-bottom: .8rem;
    }
    .ul-add-mem {
        border-right: 1px solid #e9e9f4;
        border-left: 1px solid #e9e9f4;
        margin-bottom: 1.5rem;
        li {
            display: flex;
            align-items: center;
            width: 25rem;
            border-bottom:  1px solid #e9e9f4;
            padding: .4rem;
            font-size: .9rem;
            cursor: pointer;
            img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                margin-right: 1rem;
            }
            @extend .transition;
            &:hover {
                background-color: #f8f8ff;
            }
        }
    }  
    .select-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        li {
            display: flex;
            margin-right: 1rem;
            background-color: #f1f1ff;
            color: #474747;
            padding: .4rem .6rem;
            border-radius: .3rem;
            align-items: center;
            img {
                width: 1.2rem;
                height: 1.2rem;
                border-radius: 50%;
                margin-right: .5rem;
                vertical-align: middle;
            }
            p {
                margin-right: 1rem;
                font-size: .85rem;
            }
            span {
                cursor: pointer;
                color: #b1b4db;
                font-size: .8rem;
            }
        }
    }
}

.flex-align {
    align-items: center;
}

.member-manage {
    font-weight: 300;
    padding: 1rem 0rem 1rem 2rem;
    overflow-y: scroll;
    .member-table {
        color: #3e4077;
        th {
            text-align: left;
            padding: 1rem 1rem 1.5rem 0;
        }
        td {
            text-align: left;
            padding: 1rem 3em 1rem 0;
            font-size: .9rem;
            vertical-align: middle;
            &.icon {
                font-size: 1rem;
                color: #7f83b8;
            }
        }
        .member {
            min-width: 10rem;
        }
        .avatar {
            border-radius: 50%;
            height: 2.5rem;
            width: 2.5rem;
            margin-right: 1rem;
        }
        .text {
            margin: 0 2rem 0.5rem 0;
        }
        .des {
            font-size: .85rem;
            color: #8493b8;
        }
        svg {
            color: #c3c4c6;
            margin-left: .5rem;
            cursor: pointer;
        }
    }
    .input-btn {
        display: block;
        margin: 1rem auto;
    }
}

.group-main {
    margin: 2rem 3rem 2rem 0;
}

.group-statistics {
    padding: 2rem;
    font-weight: 300;
    @extend .section;
    .section-title {
        margin-bottom: 2rem;
    }
    .statist-graph {
        flex: 1;
        height: 20rem;
    }
    .group-statist-detail {
        width: 18rem;
        display: flex;
        flex-wrap: wrap;
    }
    .item-statist {
        box-sizing: border-box;
        width: 7rem;
        height: 7rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .data {
            font-size: 1.8rem;
            margin-bottom: 1rem;
            color: #3e4077;
        }
        .name {
            color: #8493b8;
            font-size: .9rem;
        }
    }
}

.group-no-tip {
    padding: 10rem 0;
    font-weight: 300;
    color: #aaa;
    text-align: center;
    .title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .des {
        font-size: 1.2rem;
    }
}

.settings-detail {
    .normal-btn {
        border: none;
        padding: .3rem 1rem;
        font-size: .9rem;
        cursor: pointer;
        margin: .4rem 1rem 0 0;
        color: #888;
    }
}

.mck-select {
    padding: .3rem .5rem;
    outline: none;
    border-radius: .3rem;
    font-size: .9rem;
    font-weight: 300;
    color: #3e4077;
    border: 1px solid #eef0f3;
    option::-ms-expand{ display: none; }
    option{
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari 和 Chrome */
        appearance:none;
    }
    option:hover{
        color:#fff;
        background-color:#1E90FF;
    }
}
