@import '../../../assets/styles/public.scss';


.normal-title {
    color: #a3a5b6;
    font-size: .9rem;
}

.us {
    font-weight: 300;
    margin: 2rem 3rem;
    .us-input {
        font-weight: 300;
        border: none;
        font-size: .9rem;
        padding: .6rem .8rem;
        margin-bottom: 1rem;
        box-sizing: border-box;
        width: 100%;
        box-shadow: 0 10px 15px #eeeef8;
    }
}

.item-us {
    display: flex;
    border-radius: .3rem;
    margin-top: 2rem;
    @extend .transition;
    .cover-us {
        margin-right: 1rem;
        > img {
            width: 3.5rem;
            border-radius: 50%;
            box-shadow: 0 10px 15px #eeeef8;
        }
    }
    .info-us {
        flex-grow: 1;
        .text-main {
            font-size: .9rem;
            margin-bottom: .5rem;
            color: #3e4077;
        }
        .text-sub {
            font-size: .8rem;
            color: #8493b8;
        }
    }
}

.center {
    @extend .section;
    font-weight: 300;
    margin: 2rem 0;
}

.us-list {
    .header {
        padding: 1rem 2rem;
        border-bottom: 1px solid #eee;
        color: #646464;
        text-align: center;
    }
}

.us-news {
    display: flex;
    flex: 1; 
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
    .item-news {
        display: flex;
        align-items: flex-end;
        margin-bottom: 2rem;
    }
    .item-news {
        padding: 0 2rem;
        &.mine {
            flex-direction: row-reverse;
            .cover-news {
                margin-right: 0;
                margin-left: 1rem;
            }     
            .info-news {
                .bubble {
                    background: linear-gradient(to bottom, #4c68fa, #4c8efa);
                    border-radius: 1rem;
                    border-bottom-right-radius: 0;
                    color: #FFF;
                    a {
                        color: #FFF;
                        text-decoration: underline;
                        text-decoration-style: dashed;
                    }
                    .name {
                        color: #FFF;
                    }
                 }
                 .date {
                     text-align: left;
                 }
            }   
        }
        .cover-news {
            margin-right: 1rem;
            > img {
                width: 3rem;
                border-radius: 50%;
                box-shadow: 0 10px 15px #eeeef8;
            }
        }
        .info-news {
            .bubble {
               background-color: #f7f7fb; 
               border-radius: 1rem;
               border-bottom-left-radius: 0;
               padding: 1rem;
               margin-bottom: .5rem;
               color: #3e4077;
               font-size: .9rem;
               .name {
                   color: #bbbbd6;
                   font-size: .8rem;
                   margin-bottom: 1rem;
               }
            }
            .date {
                color: #9ea3bd;
                font-size: .8rem;
                text-align: right;
            }
        }
    }
}

.msg-send {
    width: 100%;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    .msg-input {
        color: #777;
        border: none;
        outline: none;
        padding: 1rem;
        height: 4.6rem;
        font-size: .9rem;
        resize: none;
        box-sizing: border-box;
        width: 100%;
    }
    .msg-ul {
        display: flex;
        border-top: 1px solid #eee;
        padding: 1.2rem 2rem;
        li {
            margin-right: 1rem;
            color: #adafc5;
            cursor: pointer;
            .input-btn {
                font-size: .8rem;
            }
        }
    }
}


.us-btns {
    border-bottom: 1px solid #eee;
    margin: 0 3rem 2rem;
    padding: 2rem;
    @extend .section;
    .ul-us-btns {
        padding: .5rem 0;
        box-sizing: border-box;
        li {
            a {
                display: block;
                padding: 1.5rem 0 0;
                color: #999;
                font-size: .9rem;
                @extend .transition;
                &:hover {
                    color: $purple;
                }
            }
            svg {
                margin-right: 1rem;
            }
        }
    }
}

.other {
    font-weight: 300;
    width: 22rem;
    padding: 2rem 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.us-about {
    text-align: center;
    .cover {
        margin-bottom: 1rem;
        img {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            box-shadow: 0 10px 15px #eeeef8;
        }
    }
    .title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .des {
        color: #8493b8;
        font-size: .85rem;
        line-height: 1.8;
        margin-bottom: 1rem;
    }
}

.us-people {
    display: flex;
    li {
        margin-right: .5rem;
        img {
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 50%;
        }
        .btn-add {
            display: block;
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 50%;
            border: 1px dashed $normalGray;
            color: $normalGray;
            font-size: 1.1rem;
            line-height: 1.8rem;
        }
    }
}