@import '../../../assets/styles/public.scss';

.page-header {
    margin: 3rem 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .normal-title {
        font-size: 1.4rem;
        font-weight: 300;
    }
}

.empty-btn {
    height: 2rem;
    padding: 0 1.2rem;
    display: flex;
    align-items: center;
    color: #FFF; 
    font-size: .85rem;
    cursor: pointer;
    border-radius: 1.5rem;
    box-shadow: 0 10px 15px #eeeef8;
    background-image: linear-gradient(to bottom,#4c68fa, #4c8efa);
}

.trash-box {
    flex: 1;
    padding: 2rem;
    font-weight: 300;
    @extend .section;
    .item-trash {
        padding: .6rem 0 .6rem 0;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        line-height: 2rem;
        border-bottom: 1px solid #eef0f3;
        font-size: .85rem;
        justify-content: space-between;
        color: #8493b8;
        align-items: center;
        .info {
            flex-grow: 1;
            svg {
                color: #e0e2f3;
                margin-right: .8rem;
            }
        }
        .author {
            flex-grow: 0;
            width: 10rem;
            margin: 0 2rem;
            img {
                width: 1.8rem;
                height: 1.8rem;
                vertical-align: middle;
                margin-right: .5rem;
                border-radius: 50%;
            }
        }
        .date {
            width: 5rem;
            flex-grow: 0;
            font-size: .8rem;
            margin: 0 2rem 0 0;
            text-align: right;
        }
        .option {
            button {
                margin: 0 .5rem;
            }
        }
        svg {
            color: #99a0b5;
        }
        a {
            color: #3e4077;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}
