$dotColor: #ff6a6a;
.mck-modal {
    position: fixed;
    font-weight: 300;
    width: 100%;
    height: 100%;
    background-color: rgba(245,245,252, .8);
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    .mck-modal-box {
        background-color: #fff;
        border-radius: .3rem;
        box-shadow: 0 10px 15px #f7f7fb;
        overflow: hidden;
        .mck-modal-header {
            padding: 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
                color: #363c75;
                font-size: .9rem;
            }
            .close {
                color: #ced8d1;
                font-size: 1rem;
                margin-left: 2rem;
                cursor: pointer;
            }
        }
    }
}

.modal-enter {
    opacity: 0.01;
  }
  
  .modal-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in-out;
  }
  
  .modal-exit {
    opacity: 1;
  }
  
  .modal-exit-active {
    opacity: 0.01;
    transition: opacity 200ms ease-in-out;
  }