@import '../../assets/styles/public.scss';

.public-header {
    padding: 1.5rem 3rem;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f1f5;
    .header-icon {
        color: #c4c6cc;
        font-size: 1.2rem;
        margin: 0 2rem 0 0;
        line-height: 2rem;
        @extend .transition;
        &:hover {
            color: $purple;
        }
    }
    .header-avatar {
        width: 2rem;
        height: 2rem;
        vertical-align: middle;
        border-radius: 50%;
        margin-right: 0.5rem;
    }     
    .avatar-icon {
        margin-left: .5rem;
    }
    .tip {
        display: flex;
    }
}