@import '../../assets/styles/public.scss';

$iconColor: #9190b4;
.public-header {
    padding: 1.5rem 3rem;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    .header-icon {
        color: #9190b4;
        font-size: 1.1rem;
        @extend .transition;
        &:hover {
            color: $purple;
        }
        &.icon-left {
            margin-right: 1.5rem;
        }
        &.icon-right {
            margin-left: 1.5rem;
        }
    }
    .header-btn {
        color: #9190b4;
        font-size: .9rem;
    }
}