@import '../../assets/styles/public.scss';

$iconColor: #9190b4;
.public-header {
    padding: 1.5rem 3rem;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    .header-icon {
        color: #9190b4;
        font-size: 1.1rem;
        @extend .transition;
        &:hover {
            color: $purple;
        }
        &.icon-left {
            margin-right: 1.5rem;
        }
        &.icon-right {
            margin-left: 1.5rem;
        }
    }
    .header-btn {
        color: #9190b4;
        font-size: .9rem;
    }
    .search-box {
        position: relative;
        margin-left: 1.5rem;
        .input-search {
            position: relative;
            width: 1rem;
            padding-bottom: .3rem;
            border: none;
            border-bottom: 1.5px solid transparent;
            color: #FFF;
            font-size: .9rem;
            transition: all .2s;
            &:focus {
                width: 10rem;
                border-bottom-color: #cacde6;
                color: #9190b4;
                &::-webkit-input-placeholder { /* WebKit browsers */
                    color: #999;
                }
            }
            &::-webkit-input-placeholder { /* WebKit browsers */
                color: #fff;
            }
        }
        .header-icon {
            position: absolute;
            right: 0;
            pointer-events: none;
        }
    }
}

.public-options {
    display: flex;
    align-items: center;
    span {
        transition: all .2s;
        text-align: center;
        display: block;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        color: #9396b2;
        &.active,
        &:hover {
            color: #632df8;
            background-color: #fff;
        }
    }
}