body {
    background-color: #f5f5fc;
    font-weight: 300;
    min-height: 28rem;
    min-width: 1300px;
    overflow: hidden;
}

body,
input,
textarea {
    font-family: 'Microsoft Yahei';
    color: #2a2b2f;
}

/* 板块公共标题 */
.section-title {
    display: flex;
    justify-content: space-between;
    svg {
        color: #acafc4;
        font-size: 1rem;
    }
    .text {
        color: #a3a5b6;
        font-size: .9rem;
    }

}

.section {
    padding: 1rem 0rem;
}

.radius-btn {
    border-radius: 1rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}


.input-btn {
    background-image: linear-gradient(to bottom,#4c68fa, #4c8efa);
    background-color: #4d7cff;
    color: #fff;
    border: none;
    padding: .5rem 2rem;
    cursor: pointer;  
}

.sub-btn {
    background-color: #E9E9E6;
    color: #888;
    border: none;
    padding: .5rem 2rem;
    cursor: pointer;         
}