$purple: #632df8;
$fontPurple: #331cbf;
$purpleGray: #a7a9c0;
$bgGray: #f8f9ff;
$borderGray: #ecedf0;
$normalGray: #c4c6cc;
$deepGray: #a3a9b6;
$fontGray: #999;
$fontBlack: #3e4077;

.transition {
    transition: all 0.2s;
}

.flex-scroll-y {
    flex: 1;
    overflow-y: scroll;
}

.flex-overflow-y {
    flex: 1;
    overflow-y: scroll;
    height: 100vh;    
}

.overflow {
    height: 100vh;
    overflow: hidden;
    min-height: 28rem;
}

.section {
    background-color: #FFF;
    box-shadow: 0 10px 15px #eeeef8;
    border-radius: .3rem;
}

.btn {
    border: none;
    background-color: none;
    cursor: pointer;
    outline: none;
}

.flex-1 {
    flex: 1;
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background: white;
}

::-webkit-scrollbar-thumb {
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    border-radius: 6px;
    background: #c9c9c9;
}



.bg-box {
    overflow-y: scroll;
    &:hover::-webkit-scrollbar-thumb {
        border-color: #eff1f9;
        background-color: #eff1f9;
    }
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background: #f5f5fc;
        @extend .transition;
    }
    
    &::-webkit-scrollbar-thumb {
        border-width: 1px;
        border-style: solid;
        border-color: #f8f9ff;
        border-radius: 6px;
        background: #f8f9ff;
        @extend .transition;
    }
}