@import '../../../assets/styles/public.scss';
.edit-chart-page {
    flex: 1;
    margin: 1rem 2rem;
    font-weight: 300;
    @extend .section;
}

.chart-edit-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    .edit-input {
        border: none;
        font-size: 1rem;
    }
    .sub-btn {
        margin-right: 1rem;
    }

}

.chart-edit-tools {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #f7f7fb;
    border-top: 1px solid #eef0f3;
    border-bottom: 1px solid #eef0f3;
    .ul-chart-tools {
        display: flex;
        padding: .3rem 0;
        li {
            display: block;
            color: #7f83b8;
            font-size: .9rem;
            padding: .8rem;
            margin: 0 .2rem;
            border-radius: .3rem;
            cursor: pointer;
            @extend .transition;
            &:hover {
                svg {
                    color:#474747; 
                }
                background: #e9e9f8;
            }
        }
    }    
}


.chart-edit-shapes {
    width: 3rem;
    flex-shrink: 0;
    height: 100%;
    flex-grow: 0;
    background-color: #f7f7fb;
    .chart-shape-group {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .shape {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #7f83b8;
            font-size: .9rem;
            height: 2rem;
            width: 2rem;
            margin: .2rem 0;
            border-radius: .3rem;
            cursor: pointer;
            @extend .transition;
            img {
                width: 1.5rem;
            }
            &:hover {
                background: #e9e9f8;
            }
        }
    }
}

.chart-edit-canvas {
    overflow: scroll;
    background-color: #D8D8D8;
    flex: 1;
    .edit-canvas {
        position: relative;
        margin: 32px;
        padding: 16px;
        width: 1020px;
        height: 600px;
        box-shadow: 0 10px 15px #eee;
        canvas {
            background: #fff;
            border: 1px solid #E8E8E8;
        }
        background-color: #f4f4f4;
        box-shadow: 0 10px 15px #ddd;
    }
    #text-tool {
        position: absolute;
        background: #FFF;
        font-size: 12px;
        font-weight: normal;
        padding: .2rem .5rem;
    }
}