@import '../../../assets/styles/public.scss';
.edit-chart-page {
    width: 1360px;
    margin: 2rem 2rem;
    font-weight: 300;
    @extend .section;
}

.chart-edit-header {
    .edit-input {
        border: none;
        font-size: 1rem;
        box-sizing: border-box;
        width: 100%;
        padding: 1rem 1.5rem;
    }
}


.ul-chart-tools {
    display: flex;
    align-items: center;
    padding: .3rem 1rem;
    background-color: #f7f7fb;
    border-top: 1px solid #eef0f3;
    border-bottom: 1px solid #eef0f3;
    .command {
        display: block;
        color: #7f83b8;
        font-size: .9rem;
        padding: .8rem;
        margin: 0 .2rem;
        border-radius: .3rem;
        cursor: pointer;
        @extend .transition;
        &:hover {
            svg {
                color:#474747; 
            }
            background: #e9e9f8;
        }
    }
    .divide {
        width: 1px;
        height: 1.5rem;
        margin: 0 .3rem;
        background-color: #eef0f3;
    }
}    

.edit-item-bar {
    width: 160px;
    height: 500px;
    padding: 20px;
    flex-grow: 0;
    background-color: #fdfdfd;
    border-right: 1px solid #eef0f3;
}

.chart-edit-shapes {
    width: 3rem;
    flex-shrink: 0;
    height: 100%;
    flex-grow: 0;
    background-color: #f7f7fb;
    .chart-shape-group {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .shape {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #7f83b8;
            font-size: .9rem;
            height: 2rem;
            width: 2rem;
            margin: .2rem 0;
            border-radius: .3rem;
            cursor: pointer;
            @extend .transition;
            img {
                width: 1.5rem;
            }
            &:hover {
                background: #e9e9f8;
            }
        }
    }
}

.chart-edit-canvas {
    flex: 1;
    .edit-canvas {
        position: relative;
        canvas {
            background: #fff;
        }
    }
}